<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
<h1>Chat Tjenste</h1>

<h2>Logg inn</h2>
<label for="username">Brukernavn:</label>
<input type="text" id="username">
<button id="registerBtn">Lag session_ID</button>

<hr>

<h2>Chat</h2>
<label for="receiver">Send melding til:</label>
<input type="text" id="receiver">
<br>
<input type="text" id="message" placeholder="Skriv en melding...">
<button id="sendMsgBtn">Send</button>

<h3>Meldinger:</h3>
<div id="chat"></div>

<hr>

<h2>Send bilde</h2>
<label for="imageInput">Velg et bilde:</label>
<input type="file" id="imageInput" accept="image/*">
<button id="sendImageBtn">Send bilde</button>

<script src="{{ url_for('static', filename='js/chat.js') }}" defer></script>
</body>
</html>
